html {
  box-sizing: border-box;
  background-color: darkgray;
  height: 100%;
  width: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  height: 100%;
  width: 100%;
}

.timeline {
  position: relative;
  height: 100%;
  width: 100%;
}

.cards > article {
  position: relative;
  height: 100%;
  max-height: 100%;
  width: 400px;
  max-width: 100%;
  border-radius: 5px;
  box-shadow: 0 4px 2px -2px gray;
  margin: 50px;
  background-color: whitesmoke;
}

.cards p {
  text-align: center;
}

.cards article:nth-child(even) {
  float: right;
}

.cards article:nth-child(odd) {
  clear: both;
}

.date {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 10px;
  background-color: #ff615f;
  color: white;
  font-family: Arial;
}

.date:nth-child(even) {
  top: 0px;
  left: 0px;
}

.columns {
  float: left;
}

#column1 {
  position: relative;
  left: 15%;
  height: 100vh;
  width: 70%;
}

#column1 .cards {
  position: relative;
}

/* this is the middle dividing line  */
.timeline::before {
  content: "";
  position: absolute;
  transform: translateX(-50%);
  top: 0;
  bottom: 0;
  left: 50%;
  border: solid 2px lightslategray;
}
/* --------------------------------  */

#card2 {
  box-sizing: content-box;
}

#card2 img {
  left: 0px;
  width: 100%;
  height: 50%;
  opacity: 0.8;
}

.top-half {
  position: relative;
  box-sizing: content-box;
  height: 100%;
  width: 100%;
}

.cards > article:nth-child(odd)::after {
  content: "";
  border-left: solid 12px white;
  border-bottom: solid 8px transparent;
  border-top: solid 8px transparent;
  position: absolute;
  left: 100%;
  top: 10%;
}

.cards > article:nth-child(even)::after {
  content: "";
  border-right: solid 12px white;
  border-bottom: solid 8px transparent;
  border-top: solid 8px transparent;
  position: absolute;
  right: 100%;
  top: 10%;
}

.top-half .title {
  position: absolute;
  bottom: 0px;
  left: 0px;
  margin: 15px;
  color: white;
}

#card2 .date {
  width: fit-content;
  position: absolute;
  top: 0px;
  right: 0px;
  margin: 0px;
}

#card2 aside {
  text-align: left;
}

.title {
  font-family: Arial, Helvetica, sans-serif;
}

aside {
  box-sizing: content-box;
  width: 90%;
  height: 100%;
  padding: 30px;
}

p {
  display: inline;
}

/* #card3 p::before {
  border: 5px blue solid;
} */

button {
  position: inherit;
  bottom: 15px;
  left: 15px;
  padding: 8px 15px;
  margin: 5px;
  border: none;
  border-radius: 2px;
  background-color: #0066cc;
  color: white;
  font-size: 12px;
}

button:hover {
  background-color: lightblue;
  color: black;
}

i {
  font-size: 15px;
  padding: 5px;
  color: white;
  background-color: lightslategray;
  border-radius: 25px;
  transform: translateX(-50%);
}

#pen1 {
  position: absolute;
  left: 50%;
  top: 55px;
}

#pen2 {
  position: absolute;
  left: 50%;
  top: 425px;
}

#pen3 {
  position: absolute;
  left: 50%;
  top: 875px;
}

@media (max-width: 768px) {
  .cardBox {
    width: 80%;
    right: 10%;
  }

  .cards article:nth-child(even) {
    float: unset;
  }

  .timeline::before {
    left: 20px;
  }

  i {
    left: 10%;
  }
}
